{% extends 'layout.html.twig' %}

{% block title %}{{ translate("Page not found") }}
{% endblock %}

{% block content %}
  <h1>{{ translate("Page not found") }}</h1>

  <p>{{ translate("this is a 404 error page") }}</p>
{% endblock %}